.interface-square {
    stroke: none;
    stroke-width: 1;
    fill: none;
    pointer-events: visible;
}

.graph-square {
    stroke: lightgray;
    stroke-width: 2;
    fill: none;
}

.quilt-path {
    stroke: black;
    stroke-width: 3;
}

.zigzag-path {
    stroke: red;
    stroke-width: 1;
}

.new-path {
    stroke: gray;
    stroke-dasharray: 15 2;
    stroke-width: 3;
}
